<a href="https://colab.research.google.com/github/rishik0910/data-mining/blob/main/EMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
file_path = ('/content/EMP_SAL.csv') # Update the path as needed

In [17]:
df = pd.read_csv(file_path)

In [18]:
print("Dataset Information:")

Dataset Information:

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DOB        14 non-null     object
 1   BASIC_PAY  14 non-null     int64
 2   HRA        14 non-null     int64
 3   DA         14 non-null     int64
 4   TAX        14 non-null     int64
dtypes: int64(4), object(1)
memory usage: 692.0+ bytes
None

In [20]:
print("\nFirst Few Rows of the Dataset:")

First Few Rows of the Dataset:

In [21]:
print(df.head())

          DOB  BASIC_PAY    HRA    DA   TAX
0  07-03-2004      75000  12500  5200  4500
1  10-03-2002      79500  13200  5600  5000
2  12-03-2000      84000  13900  6000  5500
3  15-03-1998      88500  14600  6400  6000
4  17-03-1996      93000  15300  6800  6500

In [22]:
print("\nMissing Values in Each Column:")

Missing Values in Each Column:

In [23]:
print(df.isnull().sum())

DOB          0
BASIC_PAY    0
HRA          0
DA           0
TAX          0
dtype: int64

In [24]:
numerical_cols = ["BASIC_PAY", "HRA", "DA", "TAX"]

In [25]:
scaler = MinMaxScaler()

In [26]:
df_scaled = df.copy() # Create a copy to preserve original data

In [27]:
df_scaled[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [28]:
print("\nFirst Few Rows After Min-Max Scaling:")

First Few Rows After Min-Max Scaling:

In [29]:
print(df_scaled.head())

          DOB  BASIC_PAY       HRA        DA       TAX
0  07-03-2004   0.000000  0.000000  0.000000  0.000000
1  10-03-2002   0.076923  0.076923  0.076923  0.076923
2  12-03-2000   0.153846  0.153846  0.153846  0.153846
3  15-03-1998   0.230769  0.230769  0.230769  0.230769
4  17-03-1996   0.307692  0.307692  0.307692  0.307692

In [30]:
output_file = "EMP_SAL_processed.csv"

In [31]:
df_scaled.to_csv(output_file, index=False)

In [32]:
print(f"\nProcessed dataset saved as: {output_file}")

Processed dataset saved as: EMP_SAL_processed.csv

In [33]:
print(df_scaled.head())

          DOB  BASIC_PAY       HRA        DA       TAX
0  07-03-2004   0.000000  0.000000  0.000000  0.000000
1  10-03-2002   0.076923  0.076923  0.076923  0.076923
2  12-03-2000   0.153846  0.153846  0.153846  0.153846
3  15-03-1998   0.230769  0.230769  0.230769  0.230769
4  17-03-1996   0.307692  0.307692  0.307692  0.307692

In [34]:
print(df_scaled.head(20)) # Displays the first 20 rows

           DOB  BASIC_PAY       HRA        DA       TAX
0   07-03-2004   0.000000  0.000000  0.000000  0.000000
1   10-03-2002   0.076923  0.076923  0.076923  0.076923
2   12-03-2000   0.153846  0.153846  0.153846  0.153846
3   15-03-1998   0.230769  0.230769  0.230769  0.230769
4   17-03-1996   0.307692  0.307692  0.307692  0.307692
5   20-03-1994   0.384615  0.384615  0.384615  0.384615
6   22-03-1992   0.461538  0.461538  0.461538  0.461538
7   25-03-1990   0.538462  0.538462  0.538462  0.538462
8   27-03-1988   0.615385  0.615385  0.615385  0.615385
9   30-03-1986   0.692308  0.692308  0.692308  0.692308
10  01-04-1984   0.769231  0.769231  0.769231  0.769231
11  04-04-1982   0.846154  0.846154  0.846154  0.846154
12  06-04-1980   0.923077  0.923077  0.923077  0.923077
13  09-04-1978   1.000000  1.000000  1.000000  1.000000

In [35]:
print(df_scaled)

           DOB  BASIC_PAY       HRA        DA       TAX
0   07-03-2004   0.000000  0.000000  0.000000  0.000000
1   10-03-2002   0.076923  0.076923  0.076923  0.076923
2   12-03-2000   0.153846  0.153846  0.153846  0.153846
3   15-03-1998   0.230769  0.230769  0.230769  0.230769
4   17-03-1996   0.307692  0.307692  0.307692  0.307692
5   20-03-1994   0.384615  0.384615  0.384615  0.384615
6   22-03-1992   0.461538  0.461538  0.461538  0.461538
7   25-03-1990   0.538462  0.538462  0.538462  0.538462
8   27-03-1988   0.615385  0.615385  0.615385  0.615385
9   30-03-1986   0.692308  0.692308  0.692308  0.692308
10  01-04-1984   0.769231  0.769231  0.769231  0.769231
11  04-04-1982   0.846154  0.846154  0.846154  0.846154
12  06-04-1980   0.923077  0.923077  0.923077  0.923077
13  09-04-1978   1.000000  1.000000  1.000000  1.000000

In [36]:
print(df_scaled.describe())

       BASIC_PAY        HRA         DA        TAX
count  14.000000  14.000000  14.000000  14.000000
mean    0.500000   0.500000   0.500000   0.500000
std     0.321792   0.321792   0.321792   0.321792
min     0.000000   0.000000   0.000000   0.000000
25%     0.250000   0.250000   0.250000   0.250000
50%     0.500000   0.500000   0.500000   0.500000
75%     0.750000   0.750000   0.750000   0.750000
max     1.000000   1.000000   1.000000   1.000000